<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [disabled]="Form.invalid">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:rgb(241,241,241);">
  <div style="width: 100%; margin-top: 7px;">
    <form novalidate [formGroup]="Form" (ngSubmit)="onSubmit()">
      <ion-item class="new-budget-padding">
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text"></ion-input>
      </ion-item>
      <ion-item class="new-budget-padding">
        <ion-label>Expense Type</ion-label>
        <ion-select formControlName="expenseType" interface="popover">
          <ion-select-option disabled value="nes">None</ion-select-option>
          <ion-select-option value="week">Periodic</ion-select-option>
          <ion-select-option value="month">One Time</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="new-budget-padding">
        <ion-label>Period</ion-label>
        <ion-select formControlName="period" interface="popover">
          <ion-select-option disabled value="nes">None</ion-select-option>
          <ion-select-option value="week">Week</ion-select-option>
          <ion-select-option value="month">Month</ion-select-option>
          <ion-select-option value="year">Year</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="new-budget-padding">
        <ion-label>Payment Type</ion-label>
        <ion-select formControlName="paymentMode" interface="popover">
          <ion-select-option disabled value="nes">None</ion-select-option>
          <ion-select-option value="week">Card</ion-select-option>
          <ion-select-option value="month">Cheque</ion-select-option>
          <ion-select-option value="year">Cash</ion-select-option>
          <ion-select-option value="one-time">IBFT</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item style="height: 43;" class="new-budget-padding">
        <ion-label position="floating">Amount</ion-label>
        <ion-input formControlName="amount" type="number" placeholder="Pkr"></ion-input>
      </ion-item>
      <ion-item class="new-budget-padding">
        <ion-label position="fixed">Date</ion-label>
        <ion-input formControlName="date" type="date"></ion-input>
      </ion-item>
      <!-- <ion-item class="new-budget-padding">
        <ion-label position="fixed">Time</ion-label>
        <ion-input formControlName="" type="time"></ion-input>
      </ion-item> -->

      <!-- <ion-button routerLink="/select-label" expand="full">Add Label</ion-button>
      <ion-button (click)="upload()" expand="full">Add Receipt</ion-button> -->
    </form>
  </div>

</ion-content>